@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');/* Pegando fonte do google fonte*/
@font-face { /* Fonte baixada.*/
                    font-family: 'Android';
                    src: url(fontes/idroid.otf) format('opentype');
                    font-weight: normal;
}

/*
#c5ebd6
#83e1ad
#3ddc84
#2fa866
#1a5c37
#063d1e
*/



:root {  /* Criando uma paleta de cores */
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;
        /* Fontes */
    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque:'Bebas Neue', sans-serif;
    --fonte-android: 'Android', cursive;
}
* {
   margin: 0px;  /* Tira a margin padrão de todos os elementos*/
   padding: 0px; /* Tira o padding padrão de todos os elementos*/
}

body { 
    background-color: var(--cor0); /*Cor no fundo do body.*/
    font-family: var(--fonte-padrao); /*Font-family em todo o body.*/
}
a.externo::after { /*Colocando emoji de link depois do conteúdo do links (a) com class="externo".*/
    content: '\00A0\1F517'; /* \00A0 é um espaço \1F517 é um emoji de link, colocar sempre dentro de aspas. */
}
header{
    background-image:linear-gradient(to bottom, var(--cor3), var(--cor5) ); /*Cor linear-gradinete no fundo do header.*/
    min-height: 150px; /*Altura minima do header 150px.*/
    text-align: center; /*Centraliza o texto do header.*/
    padding-top: 40px; /*Um espaço no top do header entre o conteúdo e a borda.*/
}
header > h1{   /* Todos os h1 do header*/
    color: white; /*Titúlos h1 do header de cor white.*/
    font-family: var(--fonte-destaque); /*Font-family do h1 do header.*/
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.267);
}
header > p { /* Todos os parágrafos do header*/
    font-family: var(--fonte-padrao); 
    font-size: 1.2em; 
    color: white; 
    max-width: 600px; /*Largura máxima de 600px no parágrafo ele só chegara no máximo a 600px de largura.*/
    padding: 0px 10px 0px 10px;
    margin: auto; /*As margins laterais igualadas independente do tamanho, deixando centralizado.*/
}
nav {
    background-color: var(--cor5);
    padding: 10px;
}
nav > a { /* Todos os links do nav*/
    color: white;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: .5s; /*Transição do hover de .5 segundos*/
}
nav a:hover {
    background-color: var(--cor3);
    border-radius: 5px;
}
main {
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.459);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    
}
main h1 { /* Todos os h1 do main*/
    color: var(--cor5);
    font-family: var(--fonte-android);
    font-weight: normal;
    font-size: 1.8em;
} 
main h2 { /* Todos os h2 do main*/
    font-family: var(--fonte-android);
    color: var(--cor4);
    font-size: 1.2em;
    background-image: linear-gradient(to right, var(--cor1), transparent);/*Linear-gradiente da cor var(--cor01) para trasparent.*/
    text-indent: 8px; /*Espaço no começo do h2   - A PRIMEIRA VERSÃO*/
}
main p{/*O parágrafo de qualquer nível, dentro do main irá mecher em todos os parágrafos não importa se ta dentro de outro elemento.*/
    margin: 15px 0px;/*Colocando margin-top e margin-bottom de 15px nos parágrafos, para não ficar muito junto dos outros elementos.*/
    text-align: justify; /*Deixa os paráfrafos justificados.*/
    text-indent: 30px; /*Deixa um espaço de 30px na primeira linha do parágrafo.*/
    font-size: 1em; /*Tamnho da font do nosso parágrafo.*/
    line-height: 2em; /* Altura das linhas, ou o espaço entre as linhas ou seja das linhas do nosso parágrafo.*/
}
main strong { /*Palavras com strong, importante.*/
    color:var(--cor4);
    font-weight: bold;
    

}
main a {
    text-decoration: none; /*Decoração no texto, none remove qualquer decoração.*/
    font-weight: bold;
    color: var(--cor5);
    background-color: var(--cor1);
    padding: 2px 6px;
}
main a:hover{
    text-decoration: underline;
    color: var(--cor4);
}
main img {
    width: 100%; /* As img do main ficaram flexíveis de acordo com seu tamanho.*/
}
main img.pequena {
    max-width: 350px; /* Tamanho máximo de 350px.*/
    display: block; /* A img não é block e precisamos deixa-la block para poder colocar margin: auto; */
    margin: auto; /* As margins laterais igualadas independente do tamanho.*/
}
div.video{
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 50%;
    position: relative;
}
div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
aside{
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
}
aside > h3 {
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px; /*colcando o h3 nas bordas laterais do aside e seu topo também.*/
    border-radius: 10px 10px 0px 0px; /*arredondando as bordas top left e top right, as as superiores tem 0px.*/
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.295); /*sombra no h3 do aside.*/
}
aside ul {
    list-style-position: inside; /*inside as bolinhas pro lado de dentro. outside as bolinhas para o lado de fora.*/

    list-style-type: '\2714\00A0\00A0'; /*Colocando o tipo de emoji check ✔️. barra investida mais a numeração do código.*/
    /* \2714 é o código do check mais a barra investida. \00A0 é um espaço entre o check e a númeração no caso temos dois espaços.*/

    columns: 2; /*Dividindo a lista em duas colunas. Podemos colocar em quants colunas quiser so colocar a quantidade.*/
}
aside a { 
    color: white;
    background-color: var(--cor3);
    
}
footer { 
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}
footer a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}
footer a:hover{
    text-decoration: underline;
    color: var(--cor1);
}