* {
                    margin: 0px;
                    padding: 0px;
}
body{ font-family: Arial, Helvetica, sans-serif;
                    background-color:rgb(133, 225, 173);
                    
                    
}
main{

                    background-color: white;
                    padding: 20px;
                    margin: 150px;
                    margin-top: 0px;
}
header{
                    color: white;
                    width: 100%;
                    background-image: linear-gradient(to top ,#1a5c37, #3fb873 );
                    padding: 20px;
}
nav a {
                    color:white;
}
h1{
                    color: #1a5c37;
}
header > h1, p{
                   text-align: center;
                   
}
header h1{
                    padding-bottom: 20px;
}
header > .primeira-versao{
                    background-image:linear-gradient(to right) ;
}
